
#updateprofile{
  font-size: 20px;
  width: 75%;
  height: 750px;
 display: block;
 margin:auto;
/*flex-flow: column;*/
 border: 1px solid black;
 align-items: center;
}
#col-1{
  width: 50%;
  text-align: left;
}
#col-2{
  width: 50%;
  text-align: right;
}
#col-2-show{
  text-align: left;
  font-weight: bold;
  color: #580000;
  padding-left: 0px;
}
#col-1-show{
  width: 50%;
  text-align: right;
  padding-right: 7px;
  color: #262D8A;
}
#col-3-show{
  /*width: 50%;*/
  /*text-align: right;*/
  /*padding-right: 7px;*/
  color: #262D8A;
}
#button-row{
    /*align-items: center;*/
display:flex;
align-items: center;
justify-content: center;
}
