<!DOCTYPE html>
<html ng-app="CAHApp">
<head>
    <title>Cards Against Humanity</title>
    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <!-- APP -->
      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="app.js"></script>
      <!--STYLE SHEET-->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
     <!-- Compiled and minified CSS -->
     <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" /> -->
     <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous"/>
      <link rel="stylesheet" type="text/css" href="css/style.css"/>
      <!--FONT-->
     <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet"/>
</head>
<body ng-controller="CardsController as CAH">
  <nav>
    <div class="space nav-wrapper">
      <div class="brand-logo right"><span class="headerText">Cards Against Humanity</span>
        <img class="cardHeaderWhite" src="assets/back-white.png" height="55px" width="45px"/>
        <img class="cardHeaderBlack" src="assets/back-black.png" height="55px" width="45px"/></div>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="" data-toggle="modal" data-target="#profile">Profile</a></li>
          <li><a href="" data-toggle="modal" data-target="#info"><img ng-src="assets/info-icon.png" height="30" width="30"/></a></li><li><a href="" data-toggle="modal" data-target="#gameover">High Scores</a></li>
          <li><a href="" ng-click="CAH.playAgain()">Play Again?</a></li>
          <li><a href="" role=" button" ng-click="CAH.logout()">Log Out</a></li>
        </ul>
      </div>
    </nav>
   <header>
      <span class="headerText">Cards Against Humanity</span>
      <img class="cardHeaderWhite" src="assets/back-white.png" height="110px" width="75px"/>
      <img class="cardHeaderBlack" src="assets/back-black.png" height="110px" width="75px"/>
   </header>
<!-- Profile Modal -->
<!-- https://www.taxback.com/resources/image/itn_man_img.png -->
<div ng-controller="UsersController as player" class="transparent modal fade" id="profile" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <img ng-src="{{player.playerProfile.img}}" height="50" width="50"/>
        <h4 class="formHeader modal-title">{{player.playerProfile.name}} Profile</h4>
    </div>
    <div class="formInput modal-body" ng-init="player.loadProfile()">
                 <form>
                     <!-- <div ng-show="!CAH.isRegistered" style="color:red">{{CAH.createUserMessage}}</div> -->

                     <p><br>
                     <label>username:</label> <input readonly="" ng-model="player.playerProfile.username" type="text" /><br>
                     <!-- <label>high scores:</label><input readonly="" ng-model="player.playerProfile.high_score" type="text" /><br> -->
                     <label>Name:<span style="color:red">*</span></label> <input ng-model="player.playerProfile.name" type="text" /><br>
                     <label> Email: </label><input ng-model="player.playerProfile.email" type="text" /><br>
                     <label>Image URL:</label> <input ng-model="player.playerProfile.img" type="text"/>
                     <label>Password:<span style="color:red">*</span></label><input type="password" ng-model="player.playerProfile.password" type="text"/>
                      <button class="btn btn-default" type="submit" name="button" ng-click="player.updateProfile()">Update</button>
                      <button class="btn btn-default" type="submit" name="button" ng-click="player.deletePlayer()">Disable</button>
                 </form >
                  <p style="color:red; font-size: 12px" ng-show='player.showErrorOnUpdate'>{{player.updateProfileError}}</p>
    </div>
      <div class="modal-footer">
           <!-- <button class="btn btn-default" type="submit" name="button" ng-click="CAH.loginUser(userPass)">Disable</button> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

   <div id="wrapper" class="container">
      <aside>
         <div>
            <div class="col s12 m1">
               <div class="score card-panel grey darken-3">
                  <span class="asideHeader white-text">{{CAH.currentPlayerName}}:</span>
                  <span class="white-text"> {{CAH.playerScore}}
                  </span>
               </div>
            </div>
            <!-- <div class="spacer"></div> -->
            <div class="col s12 m1">
                  <div class="score card-panel grey darken-3">
                     <span class="asideHeader white-text">CAH BOT:</span>
                     <span class="white-text"> {{CAH.computerScore}}
                     </span>
                  </div>
               </div>
            </div>
         </aside>
         <!-- <div class="row">
          <div class="col s12 m5">
            <div class="score card-panel grey darken-3">
               <span class="asideHeader white-text">{{CAH.currentPlayerName}}:</span>
               <span class="white-text"> {{CAH.playerScore}}
               </span>
            </div>
          </div>
          <div class="col s12 m5">
           <div class="scorecard-panel grey darken-3">
              <span class="asideHeader white-text">CAH BOT:</span>
              <span class="white-text"> {{CAH.computerScore}}
              </span>
           </div>
          </div>
        </div> -->
       <main class="gameboard">
         <div class="endOfGame" ng-show='CAH.winnerPlayer'>The winner is:
           <span> {{CAH.currentPlayerName}}!</span>
         </div>
         <div class="endOfGame" ng-show='CAH.winnerComp'>The winner is:
           <span> {{CAH.winner}}</span>
         </div>
         <!-- <span ng-show='CAH.winnerComp'>{{CAH.winner}}</span> -->
         <div class="endOfGame" ng-show='CAH.gameIsOver'>
           <div class="title">
             <img class="title1 roll-in-left" src="assets/Cards.png" height="275px" width="200px"/>
             <img class="title2 swing-in-top-fwd" src="assets/Against.png" height="275px" width="200px"/>
             <img class="title3 roll-in-right" src="assets/Humanity.png" height="275px" width="200px"/>
           </div>
         </div>
          <!-- <div class="endOfGame" ng-show='CAH.gameIsOver'>The winner is:
             <span ng-if='CAH.winnerPlayer'> {{CAH.currentPlayerName}}!</span>
             <span ng-if='CAH.winnerComp'>CAH Bot!</span>
             <div class="title">
                 <img class="title1 roll-in-left" src="assets/Cards.png" height="275px" width="200px"/>
                 <img class="title2 swing-in-top-fwd" src="assets/Against.png" height="275px" width="200px"/>
                 <img class="title3 roll-in-right" src="assets/Humanity.png" height="275px" width="200px"/>
             </div>
          </div> -->
          <div class="deckOfCards">
             <img ng-hide="CAH.isDealtBlack" ng-click='CAH.dealBlack()' class="blackDeck" src="assets/back-black.png" height="275px" width="200px"/>
             <img ng-hide="!CAH.isDealtBlack" ng-show="!CAH.isDealtWhite" ng-click='CAH.dealWhite()'class="whiteDeck" src="assets/back-white.png" height="275px" width="200px"/>
         </div>
            <!-- need to refrest the div  to the end of round -->
          <div ng-show="CAH.showQuestion" class="slide-in-elliptic-top-fwd blackDealt">
             <img ng-hide='CAH.gameIsOver'class="blackPlayed" src="assets/blank-black.png" height="275px" width="200px"/>
						 <!-- An changed:  -->
						 <!-- <span class="blackQuestions">{{CAH.question}}</span><br> -->
				<span ng-hide='CAH.gameIsOver'class="blackQuestions">{{CAH.dealtBlackcard.question}}</span><br>
						 <!-- end -->
         </div>
          <!-- <div class="answers" ng-show='CAH.cardPlayed'>

              <img class="whitePlayed" src="assets/blank-white.png" height="275px" width="200px"/><span class-"whiteAnswers">
                {{CAH.playerSelectedWhiteCard.answer}}</span>

                <img class="whitePlayed" src="assets/blank-white.png" height="275px" width="200px"/><span class="whiteAnswers">{{CAH.computerAnswer.answer}}</span><br>

          </div> -->

          <div class="playerCards" ng-show='CAH.cardPlayed'>
             <!-- <div class="cardSelectedPlayer" > PLAYER -->
             <!-- <img class="whitePlayed" src="assets/blank-white.png" height="275px" width="200px"/><span class-"whiteAnswers">
             {{CAH.playerSelectedWhiteCard.answer}}</span> -->
             <!-- </div> -->
             <img ng-hide='CAH.gameIsOver'class="whitePlayed whiteDealt" src="assets/blank-white.png" height="275px" width="200px"/>

             <span ng-hide='CAH.gameIsOver'class="whiteAnswers">{{CAH.playerSelectedWhiteCard.answer}}
                <span class="identity">{{CAH.currentPlayerName}}</span>
             </span><br>
             <!-- <div class="cardSelectedComp" ng-show='CAH.cardPlayed'> COMPUTER -->
             <img ng-hide='CAH.gameIsOver'class="whitePlayed whiteDealt" src="assets/blank-white.png" height="275px" width="200px"/>
             <span ng-hide='CAH.gameIsOver'class="whiteAnswers">{{CAH.computerAnswer.answer}}
                <span class="identity">CAH BOT</span>
             </span><br>
             <!-- </div> -->
          </div>



        <div ng-hide="CAH.isSelected" class="playerCards">
          <div ng-show="CAH.showAnswers" ng-click='CAH.selectCard(card, $index); CAH.computerTurn()' class="slide-in-elliptic-top-fwd fix whiteDealt" ng-repeat='card in CAH.dealtWhitecards track by $index'>
            <img class="whitePlayed" src="assets/blank-white.png" height="275px" width="200px"><span class="whiteAnswers">{{card.answer}}</span></img>
          </div>
          </div>
       </main>

    </div>

    <!-- Instructions Modal -->
    <div class="transparent modal fade" id="info" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="formHeader modal-title">How to Play</h4>
        </div>
        <div class="modal-body">
           <form>
              <h1>Welcome to Cards Against Humanities.  Basic Instructions are below: </h1>
              <ol align='left'>
                 <li> Upon logging in, a new game is initiated. </li>
                 <li> First, the player must click the black deck to reveal the first fill-in-the-black phrase.</li>
                 <li> Next, the player must click the white deck in order to be dealt their first 4 white cards. </li>
                 <li> The player then selects which of the four white cards makes the most entertaining fill-in-the-blank response to the black card.  The computer does similarly. </li>
                 <li> This completes the first round of play and points (based on a proprietary weighted scoring algorithm) are given to either the player or computer, whoever had the most entertaining response. </li>
                 <li> The player must click the black deck to reveal the next question. </li>
                 <li> After 10 rounds, the winner is determined. </li>
              </ol>
              Further details about the game can be found <a href="https://cardsagainsthumanity.com/"> here. </a>
           </form >
        </div>
          <div class="modal-footer">
               <!-- <button class="btn btn-default" type="submit" name="button" ng-click="CAH.loginUser(userPass)">Disable</button> -->
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Game Over Modal -->
         <div ng-controller="UsersController as highscore" ng-init='highscore.getPlayers()' class="transparent modal fade" id="gameover" role="dialog">
           <div class="modal-dialog">
             <!-- Modal content-->
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="formHeader modal-title">High Scores!</h4>
             </div>
             <div class="modal-body">
                <div >
                   <table class="table table-striped">
                      <thead>
                        <tr>
                           <th>Player</th>
                           <th>High Score</th>
                        </tr>
                        <thead>
                           <tbody ng-repeat="scores in highscore.players | orderBy:'-high_score'">
                              <tr>
                                 <td>{{scores.name}}</td>
                              </tr>
                              <tr>
                                 <td>{{scores.high_score}}</td>
                              </tr>
                           </tbody>
                        </table>
                        {{scores.name}} {{scores.high_score}}
                     </div>
                  </div>
               <div class="modal-footer">
                    <!-- <button class="btn btn-default" type="submit" name="button" ng-click="CAH.loginUser(userPass)">Disable</button> -->
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
             </div>
           </div>
         </div>
    <footer>Made with &hearts; by An Nguyen, Biren Jaspal, & Soniya Jassal<br> Powered by Cards Against Humanity&copy; </footer>
</body>
</html>
