footer {
   border: 1px solid white;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   /*background-color: black;*/
   font-family: 'Luckiest Guy', cursive;
   /*After many failed attempts to have the below commented out code animate over only the background image and failing the below code was found on: https://codepen.io/asfarmed/pen/IEhCK
   /*background-image: url('assets/background.png');
   -webkit-animation: kenburns-top 10s ease-out infinite both;
	-moz-animation: kenburns-top 10s ease-out infinite both;
	animation: kenburns-top 10s ease-out infinite both;*/
   background: #2980b9 url('assets/background2.png') repeat 0 0;
      -webkit-animation: 40s linear 0s normal none infinite animate;
   	-moz-animation: 20s linear 0s normal none infinite animate;
   	-ms-animation: 20s linear 0s normal none infinite animate;
   	-o-animation: 20s linear 0s normal none infinite animate;
   	animation: 40s linear 0s normal none infinite animate;
}

main{
   flex: 1;
   background-color: rgba(66,66,66,0.75);
   margin: 10px;
   border-style: outset;
   border-width: medium;
   border-radius: 10px;
   /*opacity: 0.75;*/
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 45px;
   padding-left: 10px;
   padding-right: 10px;
}

nav{
   order: -1;
   color: white;
   /*font-size: 0px;*/
   display: inline;
   /*float: right;*/
   /*padding-left: 1175px;*/
   border-style: outset;
   border-width: medium;
}
nav, aside{
   /*background-color: black;*/

}

aside{
   order: -1;
   /*margin-top: 10px;*/
}

header {
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
  font-size: 125px;
  color: black;

}

span{
   margin: 0;
   padding: 0;
}
.whiteAnswers{
   position: relative;
   left: -190px;
   top: 5px;
   font-size: 18px;
}
.playerCards{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 40px;
   justify-content: space-around;
}

.whiteDealt{
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
   /*margin-right: 20px;*/
}

.cardSelected{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 40px;
   justify-content: space-around;
}

.cardSelectedPlayer{
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
   margin-right: 20px;
}

.cardSelectedComp{
   display: flex;
   justify-content: space-between;
   margin-top: 30px;
   margin-right: 20px;
}

.blackDealt{
   display: flex;
   flex-direction: column;
   margin-top: 50px;
}

.blackPlayed{
   border-radius: 10px;
   box-shadow: 10px 10px 5px #888888;
}

.whitePlayed{
   border-radius: 10px;
   box-shadow: 10px 10px 5px #888888;
}

.deckOfCards{
   display: flex;
   justify-content: center;
   /*margin-top: 50px;*/
}

.whiteDeck{
   border-radius: 10px;
   margin-left: 50px;
   box-shadow: 10px 10px 5px #888888;
}
.blackDeck{
   border-radius: 10px;
   margin-right: 20px;
   box-shadow: 10px 10px 5px #888888;
}

.cardHeaderBlack{
   border-radius: 5px;
   transform: rotate(15deg);
   position: relative;
   left: -40px;
   z-index: 1
}

.cardHeaderWhite{
   border-radius: 5px;
   transform: rotate(-15deg);
}

.asideHeader{
   font-size: 30px;
}

.score{
   border-radius: 10px;
   border-style: outset;
   border-width: medium;
   margin: 10px;
   font-size: 20px;
}

.container{
   display: flex;
   flex: 1;
   flex-direction: column;
   /*background-color: black;*/
   border-radius: 5px; /*NEW*/
}

.title1{
   background-color: white;
   /*opacity: 0.25;*/
   padding: 75px;
   margin-left: 750px;
   font-size: 175px;
   margin-bottom: 0;
   margin-top: 0;
   text-align: center;
}
.title2{
   background-color: white;
   /*opacity: 0.50;*/
   padding: 75px;
   margin-right: 750px;
   font-size: 175px;
   margin-bottom: 0;
   margin-top: 0;
   text-align: center;
}
.title3{
   background-color: white;
   /*opacity: 0.75;*/
   padding: 75px;
   margin-left: 750px;
   font-size: 175px;
   margin-bottom: 0;
   margin-top: 0;
   text-align: center;
}

/* ----------------------------------------------
 * Generated by Animista on 2017-5-17 21:10:19
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */
.kenburns-top {
-webkit-animation: kenburns-top 10s ease-out infinite both;
-moz-animation: kenburns-top 10s ease-out infinite both;
animation: kenburns-top 10s ease-out infinite both;
}

.slide-in-left {
	-webkit-animation: slide-in-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	-moz-animation: slide-in-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-left 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
-webkit-animation: slide-in-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
-moz-animation: slide-in-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: slide-in-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:.75}}
@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:.75}}

@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:.5}}
@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:.5}}

@-webkit-keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}

@keyframes kenburns-top{0%{-webkit-transform:scale(1) translateY(0);transform:scale(1) translateY(0);-webkit-transform-origin:50% 16%;transform-origin:50% 16%}100%{-webkit-transform:scale(1.25) translateY(-15px);transform:scale(1.25) translateY(-15px);-webkit-transform-origin:top;transform-origin:top}}

/*After many failed attempts to have the above code to animate over only the background image and failing the below code was found on: https://codepen.io/asfarmed/pen/IEhCK*/

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

@media (min-width: 768px){
   .container{
      flex-direction: row;
      flex: 1;
   }
   nav{
      flex: 0 0 5.5em;
      background-color: black;
      display: block;
   }
   aside{
      flex: 0 0 20em;
      /*background-color: black;*/
   }
}
